
:root {
    --color-principal: #82D173;
    --color-secundario: #B497D6;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-hover: #6DB364;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --font-principal: Arial, sans-serif;
    --font-secundario: 'Georgia', serif;

    --box-shadow: 0 0.25rem 0.75rem var(--color-shadow);

    --color-principal-dark: #538E5A;
    --color-secundario-dark: #7A5B9C;
    --color-texto-dark: #ddd;
    --color-fondo-dark: #1e1e1e;
    --color-blanco-dark: #333;
    --color-hover-dark: #46744A;
    --color-shadow-dark: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

body {
    line-height: 1.6;
    background-color: #f8f9fa;
    color: var(--color-texto);
}

.dark-mode {
    --color-principal: var(--color-principal-dark);
    --color-secundario: var(--color-secundario-dark);
    --color-texto: var(--color-texto-dark);
    --color-blanco: var(--color-blanco-dark);
    --color-hover: var(--color-hover-dark);
    --color-shadow: var(--color-shadow-dark);
    background-color: var(--color-fondo-dark);
}

header {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 1rem 0;
    text-align: center;
    box-shadow: var(--box-shadow);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: var(--color-blanco);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: var(--color-secundario);
    transform: scale(1.1);
}

main {
    padding: 2rem;
}

.titulo-seccion {
    background-image: url();
    background-size: cover;
    background-position: center;
    padding: 6rem 2rem;
    text-align: center;
    color: white;
}

.titulo-seccion .titulo-mayuscula {
    font-family: var(--font-secundario);
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


h1, h2 {
    font-family: var(--font-secundario);
    font-size: 3rem;
}

.secciones-horizontales {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

.section-item {
    background-color: var(--color-blanco);
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: var(--box-shadow);
    flex: 1;
    transition: transform 0.3s ease;
}

.section-item img {
    width: 100%; 
    height: 200px;
    object-fit: cover; 
    border-radius: 0.5rem;
}

.section-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem var(--color-shadow);
}

.section-item h2 {
    color: var(--color-principal);
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.imagen-seccion {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.lista-helados, .lista-bebidas {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.helado-item, .bebida-item {
    background-color: var(--color-blanco);
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 25%;
    transition: transform 0.3s ease;
}

.helado-item:hover, .bebida-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem var(--color-shadow);
}

.helado-item h3, .bebida-item h3 {
    color: var(--color-principal);
    font-size: 1.5rem;
}

.imagen-helado, .imagen-bebida {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.descripcion-especialidades {
    font-size: 1.2rem;
    color: var(--color-texto);
    margin: 1rem 0;
}

form {
    max-width: 37.5rem;
    margin: 0 auto;
    background: var(--color-blanco);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 0.0625rem solid #ced4da;
    border-radius: 0.25rem;
}

form button {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--color-hover);
}

footer {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    text-align: center;
    padding: 1.25rem;
    margin-top: 2rem;
    border-top: 0.3125rem solid var(--color-secundario);
    box-shadow: var(--box-shadow);
}

footer p {
    font-size: 1rem;
    margin: 0.3125rem 0;
}

footer .social-media {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

footer .social-media ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.25rem;
}

footer .social-media a {
    color: var(--color-blanco);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

footer .social-media a:hover {
    color: var(--color-secundario);
    transform: scale(1.2);
}

footer p a {
    color: var(--color-blanco);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 0.125rem solid var(--color-blanco);
    border-radius: 0.625rem;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

footer p a:hover {
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    transform: scale(1.1);
}


.lista-especialidades {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.especialidad-item {
    background-color: var(--color-blanco);
    padding: 1.25rem;
    text-align: center;
    border-radius: 0.625rem;
    box-shadow: var(--box-shadow);
    width: 48%;  
    transition: transform 0.3s ease;
}

.especialidad-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem var(--color-shadow);
}

.especialidad-item h3 {
    color: var(--color-principal);
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.especialidad-item p {
    color: var(--color-texto);
    font-size: 1.2rem;
}

.imagen-especialidad {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.comentario-especialidad {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; 
    color: #555; 
    font-style: italic; 
    margin-top: 0.5rem; 
}

.imagen-helado, .imagen-especialidad {
    width: 12rem; 
    height: 12rem; 
    object-fit: cover; 
    margin-bottom: 0.625rem; 
}

.imagen-helado, .imagen-especialidad {
    display: block;
    max-width: 100%; 
    max-height: 100%; 
}

.contacto-page main {
    display: block; /
}

.contacto-page .contenido-superior {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 2rem; 
    align-items: start;  
    margin-bottom: 2rem;  
}

.contacto-page form {
    max-width: 37.5rem;
    background: var(--color-blanco);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    flex: 1;
}

.contacto-page form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contacto-page form input, .contacto-page form textarea, .contacto-page form button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 0.0625rem solid #ced4da;
    border-radius: 0.25rem;
}

.contacto-page form button {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contacto-page form button:hover {
    background-color: var(--color-hover);
}

.contacto-page .form-image {
    display: flex;
    align-items: center;  
    justify-content: center; 
    max-width: 100%;  
    height: 100%;  
}

.contacto-page .form-image img {
    max-width: 100%;  
    max-height: 100%; 
    object-fit: cover; 
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.contacto-page .formulario {
    max-width: 100%;  
}

.contacto-page .proteccion-datos {
    font-family: var(--font-secundario);
    font-size: 1rem;
    color: var(--color-texto);
    text-align: justify;
    line-height: 1.6;
}

.contacto-page .proteccion-datos h3 {
    font-size: 2rem;
    color: var(--color-principal);
    margin-bottom: 1rem;
}

.contacto-page .proteccion-datos p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--color-texto);
}


.historia {
    background-color: var(--color-blanco);
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 0.625rem;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.historia h2 {
    color: var(--color-principal);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.historia p {
    color: var(--color-texto);
    font-size: 1.25rem;
    line-height: 1.8;
}

.reseñas {
    margin: 2rem 0;
    padding: 2rem;
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border-radius: 0.625rem;
    box-shadow: var(--box-shadow);
}

.reseñas h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.lista-reseñas {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.item-reseña {
    background-color: var(--color-blanco);
    color: var(--color-texto);
    padding: 1.5rem;
    border-radius: 0.625rem;
    box-shadow: var(--box-shadow);
    text-align: left;
    font-size: 1rem;
}

.item-reseña h3 {
    color: var(--color-principal);
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.item-reseña p {
    margin: 0.5rem 0;
    font-style: italic;
    font-size: 1rem;
}

.item-reseña:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem var(--color-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    .form-section form {
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    .form-section form input,
    .form-section form button {
        font-size: 1rem;
    }
}
